.grid-container{
    color: var(--t-color);
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1% 2fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 6fr 1fr;
    grid-template-areas: 
    ". head head ."
    ". nav nav ."
    ". main side ."
    ". footer footer .";
}

header{
    grid-area: head;
}

.nav{
    grid-area: nav;
}

.nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--s-color);
    overflow: hidden;
}

.nav a{
    color: var(--t-color);
    text-decoration: none;
    padding: 10px;
}

.nav a:hover{
    background-color: #1265aa;
    transition: 0.5s;
}

.nav li{
    float: left;
}

main{
    grid-area: main;
}

aside{
    grid-area: side;
}

footer{
    grid-area: footer;
}

:root{
    --p-color: #2e4053;
    --s-color: #3498db;
    --a-color: #e74c3c;
    --b-color: #ecf0f1;
    --t-color: #2c3e50;
}

@media (max-width:650px) {
    .grid-container{
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 1% 1fr 1%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        ". head head ."
        ". nav nav ."
        ". main side ."
        ". footer footer .";
    }
}