.grid-container{
    color: var(--t-color);
    background-color: var(--b-color);
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1% 2fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 6fr 1fr;
    grid-template-areas: 
    ". head head ."
    ". nav nav ."
    ". main side ."
    ". footer footer .";
}

#aside1{
    grid-area: s1;
    color: var(--t-color);
    background-color: var(--p-color);
    padding: 8px;
    border: 2px solid var(--a-color);
}

#footerH{
    grid-area: footerH;
    background-color: var(--s-color);
    margin-top: 8px;
    margin-bottom: 5px;
}

h5{
    font-size: larger;
}

#c1{
    grid-area: c1;
    padding: 8px;
    background-color: var(--s-color);
    border: 2px solid var(--a-color);
}

#c2{
    grid-area: c2;
    padding: 8px;
    background-color: var(--s-color);
    border: 2px solid var(--a-color);
}

#c3{
    grid-area: c3;
    padding: 8px;
    background-color: var(--p-color);
    border: 2px solid var(--a-color);
}

h4{
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.content{
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "c1 c2"
    "c3 c3";
}

.grid-containerH{
    color: var(--t-color);
    background-color: var(--b-color);
    display: grid;
    height: 100vh;
    width: 99vw;
    grid-template-columns: 1% 1fr 1fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 6fr 1fr;
    grid-template-areas: 
    ". head head head ."
    ". nav nav nav ."
    ". s1 content content ."
    ". footerH footerH footerH .";
}

.header{
    grid-area: head;
    max-height: 150px;
}

#logga{
    background-color: transparent;
    height: 100px;
    float: right;
    margin-left: 75%;
}

h3{
    color: #542245;
    font-size: 250%;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.nav{
    grid-area: nav;
}

.nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--s-color);
    overflow: hidden;
    font-size: 160%;
}

.nav a{
    color: var(--t-color);
    text-decoration: none;
    padding: 20px;
}

.nav a:hover{
    background-color: var(--a-color);
    transition: 0.5s;
}

.nav li{
    float: left;
}

#mainHem{
    grid-area: main;
    background-color: var(--p-color);
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 101%;
    ::selection{
        background-color: #0f0f62;
    }
}

#nyheter{
    display: flex;
    justify-content: center;
}

#asideH{
    grid-area: side;
    padding-left: 20px;
    color: #333;
}

table{
    border-spacing: 0;
    margin-top: 5%;
    margin-left: 10%;
}

td{
    padding: 20px;
}

tbody td:nth-child(2){
    text-align: center;
}

td, th{
    border: 2px solid var(--a-color);
}

thead{
    background-color: #a91010;
    color: #ecf0f1;
}

tbody tr:nth-child(odd){
    background-color: #2b19a6;
    color: var(--t-color);
}

tbody tr:nth-child(even){
    background-color: #c92020;
    color: var(--t-color);
}

footer{
    grid-area: footer;
    background-color: var(--s-color);
    margin-top: 8px;
    margin-bottom: 3px;
}

:root{
    --p-color: #2b19a6; /*Barcelona färger*/
    --s-color: #ad1616;
    --a-color: #cc7200;
    --b-color: #ecf0f1;
    --t-color: #eee;
}

#hem{
    text-decoration: underline;
}

#historia{
    text-decoration: underline;
}

#kontakt{
    text-decoration: underline;
}

#formular{
    grid-area: main;
    font-size: 20px;
    color: var(--t-color);
    border: 4px solid var(--s-color);
    padding: 30px;
    border-radius: 8px;
    background-color: var(--p-color);
    max-width: 60%;
}

#meddelande{
    height: 200px;
    max-width: 250px;
    font-size: 18px;
    border: 2px solid var(--a-color);
}

#formular input[type=text],
#formular input[type=email]{
    resize: vertical;
    font-size: 18px;
    margin: 3px;
    border: 2px solid var(--a-color);
}

#formular input[type=submit]{
    font-size: 20px;
    cursor: pointer;
    margin-top: 8px;
    width: 15%;
    height: 10%;
    background-color: var(--s-color);
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: var(--t-color);
    width: 60%;
}

#formular input[type=submit]:hover{
    background-color: var(--a-color);
    transition: 0.5s;
}

@media (max-width:768px) {
    .grid-container{
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 1% 1fr 1%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        ". head head ."
        ". nav nav ."
        ". main main ."
        ". side side .";
    }

    .grid-containerH{
        display: grid;
        height: 100vh;
        width: 99vw;
        grid-template-columns: 1% 1fr 1%;
        grid-template-rows: minmax(100px, auto);
        grid-template-areas: 
        ". head ."
        ". nav ."
        ". mainH ."
        ". mainH ."
        ". s1 ."
        ". s2 ."
        ". footerH .";
    }

    .content{
        visibility: hidden;
        display: none;
    }

    #aside2{
        grid-area: s2;
        background-color: var(--s-color);
        padding: 5px;
        border: 2px solid var(--s-color);
    }

    #mainH{
        grid-area: mainH;
        background-color: var(--p-color);
        border: 2px solid var(--a-color);
        padding: 5px;
    }

    h6{
        font-size: large;
        display: flex;
        justify-content: center;
    }

    table{
        position: absolute;
    }

    #logga{
        position: absolute;
    }


    #formular{
        min-width: 260px;
        width: 50%;
    }
}